@{
    Layout = "_Layout";
}
@using Inventarisation.ViewModels;
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model EquipmentAddViewModel

@{
    if (ViewBag.ErrorMessage != null)
    {
        <p class="login-form_error-message">@ViewBag.ErrorMessage</p>
    }
}
<form method="post" enctype="multipart/form-data">
    <div class="equipment-info_row">
        <p class="equipment-item_text">Имя*:</p>
        <input name="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>