
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<div style="height:100vh; width:100vw; display:flex; justify-content:center;align-items:center; margin:auto; padding:inherit;">
    <p style="font-size:48px;">
        Не туда лезешь
    </p>
</div>

