@{
    Layout = "_Layout";
}

@using Inventarisation.Models;
@model ProgramClass;
@{
    if (ViewBag.ErrorMessage != null)
    {
        <p class="login-form_error-message">@ViewBag.ErrorMessage</p>
    }
}
<form method="post" enctype="multipart/form-data">
    <div class="equipment-info_row">
        <p class="equipment-item_text">Название*:</p>
        <input name="Name" class="form-control" value="@Model.Name" />
    </div>

    <div class="equipment-info_row">
        <p class="equipment-item_text">Версия*:</p>
        <input name="Version" class="form-control" value="@Model.Version"/>
    </div>

    <div class="equipment-info_row">
        <p class="equipment-item_text">Разработчик*:</p>
        <input name="Creator" class="form-control" value="@Model.ProgramCreator.Name"/>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>